* {
   font-family: 'Montserrat', sans-serif;
}

:root {
   --island-blue: #2febdb;
   /* rgb: 47, 235, 219 */
   --yellow-green: #e4ff6b;
   /* rgb: 228, 255, 107 */
   --hot-pink: #ff4f9b;
   /* rgb: 255, 79, 155 */
   --coral: #ff809d;
   /*rgb: 255, 128, 157 */
   --dark-island: #017a70;
   /*rgb: 1, 122, 112*/
}

#left-content {
   position: -webkit-sticky; 
   position: sticky;
   top: 0;
}

h1 {
   font-family: 'Righteous', sans-serif;
}

#left-content {
   padding: 40px 10px 0 10px;
}

#right-panel {
   margin-top: 20px;
}

.card {
   margin: 5px;
}

.card-img-overlay {
   opacity: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
} 

.link {
   color: var(--dark-island);
   background-color: var(--island-blue);
   padding: 15px;
   border-radius: 50px;
   text-decoration: none;
}

.card-title {
   display: flex;
   font-size: 50px;
   text-align: center;
}

.card-info {
   text-align: center;
}

.card-img-overlay:hover {
   opacity: 1;
   background-color: rgba(255, 128, 157, 0.9);
}

.link:hover {
   color: var(--dark-island);
   background-color: white;
}