.navbar {
   background-color: rgba(255, 33, 156, 0.3);
   font-family: 'Montserrat', sans-serif;
}

.navbar a {
   color: white;
}

.navbar-brand {
   font-family: 'Righteous', cursive;
}

.dropdown-menu a{
   color: black;
}