* {
   font-family: 'Montserrat', sans-serif;
}

:root {
   --island-blue: #2febdb;
   /* rgb: 47, 235, 219 */
   --yellow-green: #e4ff6b;
   /* rgb: 228, 255, 107 */
   --hot-pink: #ff4f9b;
   /* rgb: 255, 79, 155 */
   --coral: #ff809d;
   /*rgb: 255, 128, 157 */
   --dark-island: #017a70;
   /*rgb: 1, 122, 112*/
}

h1 {
   font-family: 'Righteous', sans-serif;
}

.dropdown {
   margin: 20px;
}

#personal-info {
   margin-top: 100px;
}
